:root {
    --color-black: #151515;
    --color-dark-grey: #242424;
    --color-light-grey: #d9d9d9;
    --color-green: #4EE1A0;
    --color-white: #FFFFFF;
}

@font-face {
    font-family: SpaceGrotesk;
    src: url(../assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    
    @media (max-width: 1186px) {
        font-size: 55%;
    }
    
    @media (max-width: 1042px) {
        font-size: 45%;
    }
    
    @media (max-width: 849px) { // Tablet
        font-size: 62.5%;
    }
    
    @media (max-width: 767px) { 
        font-size: 55%;
    }
    
    @media (max-width: 678px) { 
        font-size: 45%;
    }
    
    @media (max-width: 557px) { 
        font-size: 40%;
    }
    
    @media (max-width: 492px) { 
        font-size: 35%;
    }
    
    @media (max-width: 433px) { // Mobile
        font-size: 62.5%;
    }
}

body {
    font-family: SpaceGrotesk, sans-serif;
    background-color: var(--color-black);
    color: var(--color-light-grey);
    font-size: 1.8rem;//styleName: Body;
    font-weight: 500;
    line-height: 2.8rem;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}