nav {
    width: 111rem;
    display: flex;
    margin: 3.9rem 16.5rem;

    @media (max-width: 849px) { // Tablet
        width: 70.8rem;
    }
    
    @media (max-width: 433px) { // Mobile
        width: 100vw;
    }
}

header {
    width: 111rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16.5rem;
    position: relative;
    height: 61rem;
    margin-bottom: 10.4rem;

    @media (max-width: 849px) { // Tablet
        width: 70.8rem;
        height: 49rem;
        justify-content: flex-end;
    }
    
    @media (max-width: 433px) { // Mobile
        width: 100vw;
    }

    .main__image img {
        width: 44.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;

        @media (max-width: 849px) { // Tablet
            width: 32.2rem;
            right: -3rem;
        }
    }

    .pattern {
        position: absolute;

        &__rings {
            top: 3.2rem;
            left: 0;
            transform: translateX(-50%);
        }

        &__circle {
            bottom: 7rem;
            right: 38rem;

            @media (max-width: 849px) { // Tablet
                bottom: 0rem;
                right: -3rem;
            }
        }
    }

    h1 {
        margin-bottom: 4.3rem;
    }

    p {
        width: 44.5rem;
        margin-bottom: 6.6rem;
    }
}

hr {
    height: .1rem;
    width: 111rem;
    margin-bottom: 10.4rem;
    border: none;
    border-bottom: 0.1rem solid var(--color-white);

    @media (max-width: 849px) { // Tablet
        width: 70.8rem;
    }
    
    @media (max-width: 433px) { // Mobile
        width: 100vw;
    }
}

.experience {
    overflow: hidden;
    width: 100%;
    &__container {
        width: 111rem;
        display: grid;
        margin: 0 auto 10.4rem auto;
        position: relative;
    
        grid-template-columns: repeat(3, 1fr);
        row-gap: 5.8rem;

        @media (max-width: 849px) { // Tablet
            width: 70.8rem;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 5.2rem;
        }
    
        @media (max-width: 433px) { // Mobile
            width: 100vw;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 5.2rem;
        }
    
        h2 {
            margin-bottom: 1.4rem;
        }
    
        .pattern__rings {
            position: absolute;
            left: 97rem;
            bottom: -5rem;
        }
    }
}

.projects {
    width: 111rem;
    margin-bottom: 13.9rem;

    @media (max-width: 849px) { // Tablet
        width: 70.8rem;
    }
    
    @media (max-width: 433px) { // Mobile
        width: 100vw;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8rem;
    }

    &__list {
        width: 111rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 6.9rem;

        @media (max-width: 849px) { // Tablet
            width: 70.8rem;
        }
    
        @media (max-width: 433px) { // Mobile
            width: 100vw;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.contact {
    background-color: var(--color-dark-grey);
    width: 100%;
    display: flex;

    &__container {
        width: 111rem;
        margin: 8.4rem auto;
        display: flex;
        justify-content: space-between;

        position: relative;

        @media (max-width: 849px) { // Tablet
            width: 70.8rem;
            flex-direction: column;
            align-items: center;
            margin: 6rem auto 9.2rem auto;
        }

        .pattern {
            position: absolute;
            left: -38rem;
            bottom: -6rem;
        }
    }

    &__heading {
        max-width: 44.5rem;
        text-align: center;

        @media (max-width: 849px) { // Tablet
            margin-bottom: 4.8rem;
        }

        h1 {
            margin-bottom: 3.6rem;
        }
    }

    &__form {
        width: 44.5rem;
        display: flex;
        flex-direction: column;

        input[name], textarea {
            background-color: var(--color-dark-grey);
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            border: none;
            margin-bottom: 3.2rem;
            border-bottom: .1rem solid var(--color-white);
            padding: 0 2.4rem 1.7rem 2.4rem;

            &:focus-visible {
                outline: none;
            }

            &::placeholder {
                font-family: inherit;
            }
        }

        input[name] {
            height: 4.3rem;
        }

        input[type="submit"] {
            background-color: var(--color-dark-grey);
            border-top: none;
            border-left: none;
            border-right: none;
            margin-left: auto;
        }

        textarea {
            resize: none;
        }
    }
}

footer {
    background-color: var(--color-dark-grey);
    width: 100%;
    display: flex;

    .footer-container {
        width: 111rem;
        margin: 0 auto;
        display: flex;
        border-top: .1rem solid var(--color-white);
        padding: 4.7rem 0 9.2rem 0;

        @media (max-width: 849px) { // Tablet
            width: 70.8rem;
        }

        ul {
            margin-right: -3.2rem;
        }
    }
}