nav {
    width: 111rem;
    display: flex;
    margin: 3.9rem 16.5rem;
}

header {
    width: 111rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16.5rem;
    position: relative;
    height: 61rem;

    .main__image img {
        width: 44.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .pattern {
        position: absolute;

        &__rings {
            top: 3.2rem;
            left: 0;
            transform: translateX(-50%);
        }

        &__circle {
            bottom: 7rem;
            right: 38rem;
        }
    }

    h1 {
        margin-bottom: 4.3rem;
    }

    p {
        width: 44.5rem;
        margin-bottom: 6.6rem;
    }
}