nav {
    width: 111rem;
    display: flex;
    margin: 3.9rem 16.5rem;
}

header {
    width: 111rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 16.5rem;
    position: relative;
    height: 61rem;
    margin-bottom: 10.4rem;

    .main__image img {
        width: 44.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

    .pattern {
        position: absolute;

        &__rings {
            top: 3.2rem;
            left: 0;
            transform: translateX(-50%);
        }

        &__circle {
            bottom: 7rem;
            right: 38rem;
        }
    }

    h1 {
        margin-bottom: 4.3rem;
    }

    p {
        width: 44.5rem;
        margin-bottom: 6.6rem;
    }
}

hr {
    height: .1rem;
    width: 111rem;
    margin-bottom: 10.4rem;
    border: none;
    border-bottom: 0.1rem solid var(--color-white);
}

.experience {
    width: 111rem;
    display: grid;
    margin-bottom: 10.4rem;
    position: relative;

    grid-template-columns: repeat(3, 1fr);
    row-gap: 5.8rem;

    h2 {
        margin-bottom: 1.4rem;
    }

    .pattern__rings {
        position: absolute;
        right: -38rem;
        bottom: -5rem;
    }
}