.links-icons {
    list-style: none;
    display: flex;
    margin-left: auto;

    @media (max-width: 433px) { // Mobile
        margin-left: 0;
        margin-top: 2rem;
    }

    &__element {
        margin-right: 2rem;

        @media (max-width: 433px) { // Mobile
            &:last-child {
                margin-right: 0;
            }
        }

        a {
            height: 3.4rem;
            width: 3.6rem;
            display: inline-block;
            background-color: var(--color-white);

            &:hover {
                background-color: var(--color-green);
            }
        }

        &--1 a{
            -webkit-mask: url(../assets/images/icon-github.svg) no-repeat center;
            mask: url(../assets/images/icon-github.svg) no-repeat center;
        }

        &--2 a{
            -webkit-mask: url(../assets/images/icon-frontend-mentor.svg) no-repeat center;
            mask: url(../assets/images/icon-frontend-mentor.svg) no-repeat center;
        }

        &--3 a{
            -webkit-mask: url(../assets/images/icon-linkedin.svg) no-repeat center;
            mask: url(../assets/images/icon-linkedin.svg) no-repeat center;
        }

        &--4 a{
            -webkit-mask: url(../assets/images/icon-twitter.svg) no-repeat center;
            mask: url(../assets/images/icon-twitter.svg) no-repeat center;
        }
    }
}