.project {
    img {
        max-width: 54rem;
        height: auto;

        @media (max-width: 849px) { // Tablet
            max-width: 34.2rem;
        }
    
        @media (max-width: 433px) { // Mobile
            max-width: 34.5rem;
        }
    }

    ul {
        list-style: none;
        display: flex;
        padding: .7rem 0;

        li{
            margin-right: 1.8rem;
        }
    }
}